a {
    color: #db2f3b;
}

a:hover {
    color: #db2f3b;
}

#open-nav {
   background: none repeat scroll 0 0 #FFFFFF;
   color: #999999;
}
#navs li :hover {
    color: #FFFFFF;
}


.outline{
    border:2px solid #db2f3b;
} 
.outline:hover {
    background-color:#db2f3b;
    color:#FFF;
}
.parallax .border{
    background: none repeat scroll 0 0 #999999;
}

.border {
    background: none repeat scroll 0 0 #999999;
}

.skill li span {
    background-color: #db2f3b;
}

.service-item:hover:before {
	border-color: transparent; 
}
.service-item:hover{
    background: transparent;
    color: #6D6D6D;
}

#filters li a:hover{
	background-color: #db2f3b;
}
#options li a.selected{
	background-color: #db2f3b;
}

.item-overlay{
    background-color: #000;
}
.price-pack:hover .package-price {
    background: none repeat scroll 0 0 #00BBA6;
}
.blog-quote{
	background-color: #db2f3b;
}
.blog-quote:hover{
    background-color: #333333;
    color: #FFFFFF;
}
.blog-quote p{
    color: #FFFFFF;
}
.btn{
    background-color: #db2f3b;
}
.btn:hover,.btn:focus{
    background-color: #333333;
}
.get_in li i{
    background: none repeat scroll 0 0 #333333;
}